# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

RewriteEngine on
RewriteCond %{HTTP_HOST} ^alif4allah.local$ [NC]
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]