* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}

/* reusable... */
.white-bg {
    background-color: white;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.hidden {
    display: none;
}
.no-margin-top {
    margin-top: 0;
}
.margin-auto {
    margin: auto !important;
}
.pull-none {
    float: none !important;
}
/* ...reusable */

/* main-nav... */
.header .main-nav {
    position: fixed;
    z-index: 1;
}
.header .main-nav li.active a {
    background-color: rgba(0,0,0,0.2);
    border-radius: 0;
}
.header .main-nav-clearfix {
    height: 42px;
}
/* ...main-nav */

.header .banner {
    height: 400px;
    width: 100%;
    background: url(../img/banner.jpg) no-repeat center black;
}

/* sidebar... */
.sidebar {
    height: 100%;
}
.sidebar .sidebar-section {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sidebar .sidebar-section .sidebar-section-header {
    padding: .5em 1em;
}
.sidebar .sidebar-section .sidebar-section-content {
    padding: 0 .2em;
}
.sidebar .sidebar-section .jquery-ui-tabs {
    border: none;
    padding: 0;
}
.sidebar .sidebar-section .jquery-ui-tabs .ui-tabs-nav {
    padding: 0;
    background: none;
    border: none;
}
.sidebar .sidebar-section .jquery-ui-tabs .ui-tabs-panel {
    padding: 0;
}
.sidebar .sidebar-section .jquery-ui-menu {
    border: none;
}
/* ...sidebar */

