* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}

/* reusable... */
.white-bg {
	background-color: white;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.hidden {
	display: none;
}
/* ...reusable */

/* main-nav... */
.header .main-nav {
    position: fixed;
}
.header .main-nav li.active a {
    background-color: rgba(0,0,0,0.2);
    border-radius: 0;
}
.header .main-nav-clearfix {
    height: 42px;
}
/* ...main-nav */
.header .banner {
    height: 400px;
    width: 100%;
    background: url(../img/banner.jpg) no-repeat center black;
}